html,body
{
  height: 100%;
  width: 100%;

}

.container
{
	height: 100%;
	width: 100%;
	background-image:url("../img/bgi.jpg");
	background-size: cover;
	background-position: center;

}

.white{
	color: ffffff;
}
.center{
	text-align: center;
}