html, body{
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;

}

body {
	background: rgba(0,0,0,0.5);
}

.container
{
	height: 100%;
	width: 100%;
	background-image:url("../img/bgi.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 200px;
	
}

.white{
	color: #ffffff;
}
.row{
	background: rgba(0,0,0,0.7);
	height: inherit;
	width: inherit;
	padding-top: 200px;
	padding-bottom: -200px;
	margin-top: -200px;
	position: absolute;
	
}
.center{
	text-align: center;
}

.forcast{
	margin: 20px;
}

p.center{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
}

.bold{
	font-weight: bolder;
}
h1{
	font-size: 50px;
}
footer{
	color: #ffffff;
	font-size: 14px;
	padding-top: 250px;

}

.alert{
	display: none;
	margin-top: 20px;
}